<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body style="width: 640px; margin: auto;">

    <div class="mt-4 border border-success rounded-lg p-4">
        <h1 class="m-3">ERROR</h1>
        <h3 class="m-3">CODE: 403 Forbidden</h3>
        <h5 class="mx-3">Sorry, there was an error occurred!</h5>
    </div>

</body>
</html>
