<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Interns</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body style="width: 800px; margin: auto;">

    <div class="my-3 border border-success rounded-lg p-4">
        <h3>Mentor page</h3>
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-warning">Logout</button>
        </form>
    </div>

    <div style="width: 400px; margin: auto;" class="border border-success rounded-lg p-4">
        <form th:action="@{/intern/add}" method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" pattern="[A-Za-z]{1,32}"
                id="name" placeholder="Enter name" name="name" required>
            </div>
            <div class="form-group">
                <label for="surname">Surname</label>
                <input type="text" class="form-control" pattern="[A-Za-z]{1,32}"
                id="surname" placeholder="Enter surname" name="surname" required>
            </div>
            <div class="form-group">
                <label for="age">Age</label>
                <input type="text" class="form-control" pattern="\d*"
                id="age" placeholder="Enter age" name="age" required>
            </div>
            <div class="form-group">
                <label for="hobby">Hobby</label>
                <input type="text" class="form-control" pattern="[A-Za-z]{1,32}"
                id="hobby" placeholder="Enter hobby" name="hobby" required>
            </div>
            <button type="submit" class="mt-4 btn btn-success">Add intern</button>
        </form>
    </div>

    <div class="my-2"></div>

    <div style="width: 400px; margin: auto;" class="border border-success rounded-lg p-4">
        <form th:action="@{/intern/tasks/all}" method="get">
            <button type="submit" class="btn btn-info">All tasks</button>
        </form>
    </div>

    <table class="my-3 table table-bordered">
        <tr>
            <th>name</th>
            <th>surname</th>
            <th>age</th>
            <th>hobby</th>
            <th>action</th>
        </tr>
        <tr th:each="intern : ${interns}">
            <td><span th:text="${intern.name}"/></td>
            <td><span th:text="${intern.surname}"/></td>
            <td><span th:text="${intern.age}"/></td>
            <td><span th:text="${intern.hobby}"/></td>
            <td>
                <form th:action="@{'/intern/edit/' + ${intern.id}}" method="get">
                    <button type="submit" class="btn btn-warning">Edit</button>
                </form>
                <div class="my-1"></div>
                <form th:action="@{'/intern/tasks/' + ${intern.id}}" method="get">
                    <button type="submit" class="btn btn-info">Add task</button>
                </form>
            </td>
        </tr>
    </table>

</body>
</html>
