<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Edit user</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body style="width: 800px; margin: auto;">

    <div class="my-3 border border-success rounded-lg p-4">
        <h3>Admin page</h3>
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-warning">Logout</button>
        </form>
    </div>

    <div style="width: 400px; margin: auto;" class="border border-success rounded-lg p-4">
        <h5>Change user status</h5>
        <p th:text="'User is active: ' + ${user.active}"></p>
        <form th:action="@{'/user/edit/' + ${user.id} + '/change-status'}" method="post" class="mb-3">
            <button type="submit" class="btn btn-warning">Change</button>
        </form>
        <h5>Delete user</h5>
        <form th:action="@{'/user/edit/' + ${user.id} + '/delete'}" method="post">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>

    <div style="width: 400px; margin: auto;" class="my-3 border border-success rounded-lg p-4">
        <form th:action="@{'/user/edit/' + ${user.id} + '/update'}" method="post">
            <div style="display: none;">
                <input type="text" th:value="${user.id}" name="id">
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" pattern="[A-Za-z]{1,32}"
                th:value="${user.name}" id="name" placeholder="Enter name" name="name">
            </div>
            <div class="form-group">
                <label for="surname">Surname</label>
                <input type="text" class="form-control" pattern="[A-Za-z]{1,32}"
                th:value="${user.surname}" id="surname" placeholder="Enter surname" name="surname">
            </div>
            <div class="form-group">
                <label for="age">Age</label>
                <input type="text" class="form-control" pattern="\d*"
                th:value="${user.age}" id="age" placeholder="Enter age" name="age">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                th:value="${user.email}" id="email" placeholder="Enter email" name="email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                id="password" placeholder="Enter password" name="password">
            </div>
            <div class="form-group">
                <label>Role</label>
                <div class="form-check">
                    <input type="radio" class="form-check-input"
                    id="radio1" name="role" value="admin" checked>
                    <label for="radio1" class="form-check-label">Admin</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input"
                    id="radio2" name="role" value="manager">
                    <label for="radio2" class="form-check-label">Manager</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input"
                    id="radio3" name="role" value="mentor">
                    <label for="radio3" class="form-check-label">Mentor</label>
                </div>
            </div>
            <button type="submit" class="mt-4 btn btn-success">Change user data</button>
        </form>
    </div>

</body>
</html>
